# Dependencies
node_modules/
target/
.gradle/
build/

# Next.js build and cache
.next/
out/
.docusaurus/

# IDE and Project Settings
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.settings/
.classpath
.project
.factorypath

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment and secrets
.env
.env*.local
.env.local
.env.development.local
.env.test.local
.env.production.local
